{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Boards{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
	{% block stylesheet %}{% endblock %}	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js"></script>
  </head>
  <body>
	{% block body %}
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  <div class="container">
		<a class="navbar-brand" href="{% url 'home' %}">Django Boards</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mainMenu">
		  {% if user.is_authenticated %}
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  {{ user.username }}
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
				  <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
				  <a class="dropdown-item" href="#">Change password</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
				</div>
			  </li>
			</ul>
		  {% else %}
			<form class="form-inline ml-auto">
			  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
			  <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
			</form>
		  {% endif %}
		</div>
	  </div>
	</nav>
	
    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>
	{% endblock body %}
	{% block javascript %}{% endblock %}
  </body>
</html>